<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>3 Cards com Texto na Frente da Imagem com HTML e CSS</title>
<style>
    /* Estilos para o container dos cards */

</style>
</head>
<body>

<!-- Container para os cards -->
<div class="card-container">
    <!-- Card 1 -->
    <div class="card">
        <img src="https://scontent-gru1-1.xx.fbcdn.net/v/t39.30808-6/336699738_168540582650322_9217595932024728311_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=5f2048&_nc_ohc=SX33pMRUn-IQ7kNvgGopuBT&_nc_ht=scontent-gru1-1.xx&oh=00_AYAL65ajsXL8LQvHZBYGV1b-WcqJpMWnEV5LtCf5flzqZg&oe=66508752" alt="Imagem do Card 1">
        <div class="dark-overlay"></div>
        <div class="card-content">
            <h2 class="card-title">Sou Graziella</h2>
            <p class="card-description">Tenho 22 anos e moro na cidade de São Paulo.</p>
            <p class="card-description">Sou uma pessoa comunicativa, proativa e concentrada nos meus focos.
                Sou ansiosa para cumprir minhas metas e sempre tento entregar o meu melhor a partir dos meus conhecimentos.
            </p>
        </div>
    </div>

    <!-- Card 2 -->
    <div class="card">
        <img src="https://scontent-gru2-2.xx.fbcdn.net/v/t39.30808-6/215485795_4336259959775154_8920909715700504209_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=5f2048&_nc_ohc=uIX4z1k11zgQ7kNvgFvER5c&_nc_ht=scontent-gru2-2.xx&oh=00_AYCTThwKDNdhlseu6ADgkhf1nBliiooHaV_uca8fBag5QQ&oe=665078B0" alt="Imagem do Card 2">
        <div class="dark-overlay"></div>
        <div class="card-content">
            <h2 class="card-title">Hobbies</h2>
            <p class="card-description">Gosto de viajar e ter novas experiêncas. Conhecer lugares e culturas diferentes. 
                Só não abro mão do conforto de beber um chá e ler livros.</p>
        </div>
    </div>

    <!-- Card 3 -->
    <div class="card">
        <img src="https://scontent-gru2-1.xx.fbcdn.net/v/t39.30808-6/352761901_583056380636920_601095791883108264_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=5f2048&_nc_ohc=uhQRNCUDpC0Q7kNvgHmwsA9&_nc_oc=Adj_DgsSLdvpPzaW5yQ9DYTeJFkQqT64wXfXgcCqlXqh_wy9H5Z6S-bdYG-P-o9YUux6RDvrAaBJTs2wSelciD-r&_nc_ht=scontent-gru2-1.xx&oh=00_AYAZE3dZdCK4j-8AA_tfWT6Cj7lIwCEmuBucF9cSETmnTw&oe=6650A3CD" alt="Imagem do Card 3">
        <div class="dark-overlay"></div>
        <div class="card-content">
            <h2 class="card-title">Ambições</h2>
            <p class="card-description">Meu objetivo a curto prazo é me formar e conseguir tirar certificações que possam me ajudar
                a progredir na empresa onde trabalho. A longo prazo, pretendo me estabilizar como desenvolvedora e desenvolver projetos
                de forma autônoma ou me tornar especialista na área de sistemas.
            </p>
        </div>
    </div>
</div>

</body>
</html>